---
// src/layouts/TableLayout.astro
import BaseLayout from './BaseLayout.astro';
import Sidebar from '../components/shared/admin/Sidebar.astro';

const { pageTitle } = Astro.props;
const currentPath = Astro.url.pathname;
---

<BaseLayout title={`${pageTitle} - Q-Vida Admin`}>
  <div class="flex min-h-screen bg-[#1c1c1c] font-sans">
    <Sidebar currentPath={currentPath} />

    {/* Aquí insertaremos el componente dinámico (DynamicTable) desde las páginas hijas */}
    <slot />
    
  </div>
</BaseLayout>